<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Pessoas</h1>
    </div>
    <div class="col-12 p-fluid">
      <label style="display: block">Nome</label>
      <input pInputText>
    </div>
    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-table [value]="pessoas" [paginator]="true" [rows]="2" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.cidade}}</td>
            <td>{{pessoa.estado}}</td>
            <td class="col-status"><a href="#" [pTooltip]="pessoa.ativo ? 'Desativar':'Ativar'" tooltipPosition="top">{{pessoa.ativo ? 'Ativo':'Inativo'}}</a></td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-12">
    <a pButton label="Nova Pessoa"></a>
  </div>
</div>
