<div class="container">
  <!--
    Parte Superior
  -->
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12 p-fluid">
      <label>Descrição</label>
      <input type="text" pInputText>
    </div>
    <div class="col-12">
      <label style="display: block">Vencimento</label>
      <input type="text" pInputText style="width: 100px">
      <label> até </label>
      <input type="text" pInputText style="width: 100px">
    </div>
    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
  <!--
    Tabela de dados
  -->
  <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>

  <div class="col-12">
    <a pButton label="Novo Lançamento"></a>
  </div>
</div>
