.navbar{
  padding: 20px 0 10px;
  background-color: #1e94d2;
}

.navbar-toggle{
  color: white;
}

.navbar-menu{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 210px;
  z-index: 999;
  list-style: none;
  background-color: #3a3633;
}

.navbar-usuario{
  padding: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
}

.navbar-menuitem{
  padding: 15px;
}

.navbar-menuitem a {
  color:#C0BBB7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color:white;
}
