<div class="container">
  <form name="pessoaForm" #pessoaForm="ngForm" autocomplete="off" (ngSubmit)="salvar(pessoaForm)">
    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Editando' : 'Nova'}} Pessoa</h1>
      </div>
      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" ngModel [minlength]="5" [required]="true" #nome="ngModel"
               [(ngModel)]="pessoa.nome">
        <app-messages qualErro="required" severidade="error" [componente]="nome" texto="Campo obrigatório"></app-messages>
        <app-messages qualErro="minlength" severidade="error" [componente]="nome" texto="Mínimo de
        {{nome.errors?.['minlength']?.requiredLength}} caracteres"></app-messages>
      </div>
      <div class="col-12 md:col-9 p-fluid">
        <label>Logradouro</label>
        <input type="text" pInputText name="logradouro" ngModel #logradouro="ngModel"
               [required]="true" [(ngModel)]="pessoa.endereco.endereco_logradouro">
        <app-messages qualErro="required" severidade="error" [componente]="logradouro"
                      texto="Campo obrigatório"></app-messages>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Número</label>
        <input type="text" pInputText [required]="true" name="numero" ngModel #numero=ngModel
               [(ngModel)]="pessoa.endereco.endereco_numero">
        <app-messages qualErro="required" severidade="error" [componente]="numero"
                      texto="Campo obrigatório"></app-messages>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Complemento</label>
        <input name="complemento" type="text" pInputText ngModel #complemento=ngModel
               [(ngModel)]="pessoa.endereco.endereco_complemento">
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Bairro</label>
        <input type="text" pInputText name="bairro" [required]="true" ngModel #bairro="ngModel"
               [(ngModel)]="pessoa.endereco.endereco_bairro">
        <app-messages qualErro="required" severidade="error" [componente]="bairro"
                      texto="Campo obrigatório"></app-messages>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>C.E.P.</label>
        <p-inputMask name="cep" [unmask]="true" [required]="true" ngModel #cep="ngModel"
                     placeholder="99.999-999" mask="99.999-999"
                     [(ngModel)]="pessoa.endereco.endereco_cep"></p-inputMask>
        <app-messages qualErro="required" severidade="error" [componente]="cep"
                      texto="Campo obrigatório"></app-messages>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Cidade</label>
        <input type="text" name="cidade" [required]="true" ngModel #cidade="ngModel" pInputText
               [(ngModel)]="pessoa.endereco.endereco_cidade">
        <app-messages qualErro="required" severidade="error" [componente]="cidade"
                      texto="Campo obrigatório"></app-messages>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Estado</label>
        <input type="text" pInputText name="estado" ngModel #estado="ngModel" [required]="true"
               [(ngModel)]="pessoa.endereco.endereco_estado">
        <app-messages qualErro="required" severidade="error" [componente]="estado"
                      texto="Campo obrigatório"></app-messages>
      </div>
      <div class="col-12">
        <button type="submit" pButton [disabled]="!pessoaForm.valid">Salvar</button>
        <button type="button" pButton class="p-button-info" (click)="novo(pessoaForm)">Novo</button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
